.card {
    .card-title {
        font-size: 14px;
        a {
            color: inherit;
        }
    }
    .card-text {
        font-size: 12px;
    }

    small {
        font-size: 11px;
    }
}

.source {
    color: coral;
    position: absolute;
    bottom: 0px;
    right: 0px;
    padding: 10px;

    &.mobile {
        font-size: 13px !important;
    }
}

.source-container {
    position: sticky;
    top: 0px;
    z-index: 1;
    border-right: 1px solid #333;
}

.news-container {
    overflow: auto;
    margin-bottom: 30px;

    &.mobile {
        margin-bottom: 3px;
    }
}
.news-grid-item {
    color: #fff;
    width: 16rem;
}
.news-list-item {
    border-radius: 5px;
    background-color: rgb(31, 31, 3);
    color: #fff;

    &.mobile {
        border-radius: 0px;
        border-bottom: 1px solid rgb(13, 13, 13);
    }

    .img-container {
        min-width: 150px;
        width: 150px;
        min-height: 104px;
    }

    img {
        width: 150px;
        max-height: 300px;
        /*border-radius: 5px 0 0 5px;*/
        overflow: hidden;
    }

    .title {
        font-size: 14px;
        &.mobile {
            font-size: 18px;
        }
        a { 
            color:#fff;
        }
    }

    .content {
        font-size: 11px;

        &.mobile {
            font-size: 13px;
        }
    }

    .source {
        position: relative;
        padding: 0px;
        font-size: 11px;
    }
}

.mobile-content {
    width: 100%;
    padding: 40px 5px 15px 5px !important;
    border-radius: 0px;
    background-color: rgba(0, 0, 0, 0.6);
    min-height: 250px;
}

input {
    &.form-control {
        background-color: rgb(64, 68, 71);
        color: #fff;
        border-color: transparent;
    }

    &.form-control::placeholder {
        color: #888;
    }
}

.input-no-border {
    border: none !important;
    box-shadow: none !important;
}
  
.input-no-border:focus {
    border: none !important;
    box-shadow: none !important;
    outline: none !important;
}

.fa-sliders {
    color: #fff;
    font-size: 20px;

    &.mobile {
        font-size: 25px;
    }
}

.mobile-sources, .mobile-config {
    position:sticky; 
    top: 0px;
    background: rgb(41, 42, 45);
    z-index: 1001;
    border-bottom: 1px solid #666;
}

.badge-number {
    color: cadetblue;
    font-size: 11px;

    &.badge-number {
        font-size: 14px;
    }
}

h3 {
    &.title {
        font-family: cursive;
        letter-spacing: 5px;
        &.mobile {
            font-size: 34px;
        }
    }
}

.sources-title {
    &.mobile {
        font-size: 16px;
    }
}

.source-check {
    &.mobile {
        font-size: 16px;
    }
}

.source-check-container {
    background-color: rgb(64, 68, 71);
    max-height: calc(100vh - 350px);
    overflow: auto;
    margin-bottom: 20px;
    border-radius: 5px;
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left:10px;
    &.mobile {
        max-height: calc(350px);
        border-radius: 0px;
        margin-bottom: 0px;
    }
}

.form-check-input:checked {
    background-color: lightseagreen;
    border-color: lightseagreen;
}

.text-success {
    .fa-check {
        color: aquamarine;
    }
}

span {
    &.badge {
        font-size: 18px;
        font-weight: 200;
        &.loading {
            border: 1px dashed #666;
            color: #ccc;
        }
        &.loaded {
            color: inherit;
        }
        &.alone {
            height: 73px;
            border-width: 0px;
        }
    }
}

.num-news {
    sup {
        background-color: #fff;
        border-radius: 10px;
        color: #333;
        font-size: 13px;
        text-align: center;
        position: relative;
        padding: 2px 4px;
        font-weight: 600;
        top: -1px;
    }
}

.ellipsis2, .ellipsis-2 {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}

.ellipsis3, .ellipsis-3 {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
}

.close-sources {
    font-size: 25px;
}

.group-picker {
    .badge {
        font-size: 15px;
        color: #fff;
        border: 1px solid #ccc;

        &.selected {
            background-color: #fff;
            border: 1px solid #ccc;
            color: #333;
        }
    }
}