.card {
    .card-title {
        font-size: 14px;
        a {
            color: inherit;
        }
    }
    .card-text {
        font-size: 12px;
    }

    small {
        font-size: 11px;
    }
}

.source {
    color: coral;
    position: absolute;
    bottom: 0px;
    right: 0px;
    padding: 10px;
}

.source-container {
    position: sticky;
    top: 0px;
    z-index: 1;
    border-right: 1px solid #333;
}

.news-container {
    overflow: auto;
}
.news-grid-item {
    color: #fff;
}
.news-list-item {
    border-radius: 5px;
    background-color: rgb(31, 31, 3);
    color: #fff;

    .img-container {
        min-width: 150px;
        width: 150px;
        min-height: 104px;
    }

    img {
        width: 150px;
        max-height: 300px;
        /*border-radius: 5px 0 0 5px;*/
        overflow: hidden;
    }

    .title {
        font-size: 14px;
        &.mobile {
            font-size: 16px;
        }
        a { 
            color:#fff;
        }
    }

    .content {
        font-size: 11px;
    }

    .source {
        position: relative;
        padding: 0px;
        font-size: 11px;
    }
}

.mobile-content {
    width: 100%;
    padding: 5px;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.5);
}

input {
    &.form-control {
        background-color: rgb(64, 68, 71);
        color: #fff;
        border-color: transparent;
    }

    &.form-control::placeholder {
        color: #888;
    }
}

.input-no-border {
    border: none !important;
    box-shadow: none !important;
}
  
.input-no-border:focus {
    border: none !important;
    box-shadow: none !important;
    outline: none !important;
}

.fa-sliders {
    color: #fff;
    font-size: 20px;
}

.mobile-sources, .mobile-config {
    position:sticky; 
    top: 0px;
    background: rgb(41, 42, 45);
    z-index: 1001;
    border-bottom: 1px solid #666;
}

.badge-number {
    color: cadetblue;
    font-size: 11px;
}