<div class="w-100 h-100 min-vh-100" style="display: flex;position: absolute;">

  <ng-container *ngIf="!isMobile">

    <!-- SOURCES -->
    <div class="w-30 py-3 px-5 d-flex flex-column flex-grow-1 source-container" style="position: sticky; top: 0px;z-index: 1;">
      <h3>Newstracker</h3>
      <div class="mb-4 d-flex flex-column">
          <div class="mb-1">Display mode:</div>
          <div class="btn-group mr-2" role="group" aria-label="First group">
            <button type="button" class="btn btn-secondary btn-sm" (click)="displayMode='GRID'" [disabled]="displayMode==='GRID'" [ngClass]="{'active': displayMode==='GRID'}">
              <i class="fas fa-grip me-2"></i>Grid
            </button>
            <button type="button" class="btn btn-secondary btn-sm" (click)="displayMode='LIST'" [disabled]="displayMode==='LIST'" [ngClass]="{'active': displayMode==='LIST'}">
              <i class="fas fa-bars me-2"></i> List
            </button>
          </div>
      </div>
      <div class="mb-4 d-flex flex-column">
        <input class="form-control input-no-border" placeholder="Search text" #searchTextInputRef (input)="onSearchTextChange(searchTextInputRef.value)" />
      </div>
      <div class="mb-2 sources-title">Sources:</div>
      <div class="source-check-container">
        <ng-container *ngFor="let sourceItem of sources" [ngTemplateOutlet]="sourceTemplate" [ngTemplateOutletContext]="{sourceItem}"></ng-container>
      </div>
    </div>
    <!-- End SOURCES -->

    <!-- NEWS -->
    <div class="w-70 d-flex justify-content-start flex-column flex-grow-1 py-3 news-container" [ngClass]="{'flex-column': displayMode==='LIST', 'pb-3': displayMode==='LIST', 'px-3': displayMode==='LIST','ps-3': displayMode==='GRID', 'flex-wrap': displayMode==='GRID', 'gap-3': displayMode==='GRID'}">
      <ng-container *ngIf="news && news.length>0">
        <ng-container *ngFor="let newsItem of news">
          <ng-container [ngTemplateOutlet]="newsItemTemplate" [ngTemplateOutletContext]="{newsItem}"></ng-container>
        </ng-container>
      </ng-container>
      <ng-container *ngIf="activeSources===0">
        <div class="text-center py-5 mt-5 w-100">Please, select a source.</div>
      </ng-container>
      <ng-container *ngIf="activeSources>0 && news && news.length===0">
        <div class="text-center py-5 mt-5 w-100">Loading news from {{activeSources}} sources...</div>
      </ng-container>
    </div>
    <!-- End NEWS -->

  </ng-container>

  <ng-container *ngIf="isMobile">

    <div class="w-100 d-flex justify-content-start flex-column flex-grow-1 news-container" [ngClass]="{'flex-column': displayMode==='LIST', 'pb-5': displayMode==='LIST', 'px-3': displayMode==='LIST' && !isMobile,'ps-3': displayMode==='GRID', 'flex-wrap': displayMode==='GRID', 'gap-3': displayMode==='GRID'}">
      
      <div class="w-100 d-flex justify-content-between align-items-start pt-3 pb-2 mobile-config px-3">
        <div class="d-flex flex-column">
          <h3 class="title" [ngClass]="{'mobile': isMobile}">Newstracker</h3>
          <ng-container *ngIf="!isMobile">
            <div class="badge-number ps-1" [ngClass]="{'mobile': isMobile}">{{activeSources}} / {{sources.length}} sources selected</div>
          </ng-container>
        </div>
        <button class="btn btn-sm" (click)="showSources=!showSources">
          <i class="fas fa-sliders" [ngClass]="{'mobile': isMobile}"></i>
        </button>
      </div>

      <ng-container *ngIf="activeSources>0">
        <div class="w-100 d-flex flex-column mobile-sources p-3">

          <div class="d-flex flex-wrap gap-2 my-1">
            <ng-container *ngFor="let source of sources; let i = index">
              <ng-container *ngIf="source.active">
                <span class="badge" [ngClass]="{'loading': !source.loaded, 'loaded': source.loaded}" style="background:{{(source.loaded)?source.bgStyle : 'transparent'}}">{{source.name}}
                  <span class="num-news" *ngIf="source.loaded"><sup>{{source.news.length}}</sup></span>
                  <i *ngIf="source.loaded" class="fas fa-close cursor-pointer ms-2" (click)="source.active=false;removeSourceNews(source)"></i>
                  <i *ngIf="!source.loaded" class="fas fa-spinner fa-spin ms-2"></i>
                </span>
              </ng-container>
            </ng-container>
          </div>
        </div>
      </ng-container>

      <ng-container *ngIf="showSources">
        <div class="w-100 d-flex flex-column mobile-sources pb-2 pt-3">
          <div class="mb-4 d-flex flex-column" [ngClass]="{'px-3': isMobile}">
            <input class="form-control input-no-border" placeholder="Search text" #searchTextInputRef (input)="onSearchTextChange(searchTextInputRef.value)" />
          </div>
          <div class="mb-2 sources-title" [ngClass]="{'mobile': isMobile, 'px-3': isMobile}">Sources:</div>
          <div class="source-check-container" [ngClass]="{'mobile': isMobile, 'px-3': isMobile}">
            <ng-container *ngFor="let sourceItem of sources" [ngTemplateOutlet]="sourceTemplate" [ngTemplateOutletContext]="{sourceItem}"></ng-container>
          </div>
        </div>
      </ng-container>
      
      <ng-container *ngIf="news && news.length>0">
        <ng-container *ngFor="let newsItem of news">
          <ng-container [ngTemplateOutlet]="newsItemTemplate" [ngTemplateOutletContext]="{newsItem}"></ng-container>
        </ng-container>
      </ng-container>
      <ng-container *ngIf="activeSources===0">
        <div class="text-center py-5 mt-5 w-100">Please, select a source.</div>
      </ng-container>
      <ng-container *ngIf="activeSources>0 && news && news.length===0">
        <div class="text-center py-5 mt-5 w-100">Loading news from {{activeSources}} sources...</div>
      </ng-container>
    </div>

  </ng-container>

  

</div>

<!-- SOURCE Template -->
<ng-template let-sourceItem="sourceItem" #sourceTemplate>
  <div class="w-100 d-flex ps-2 source-check" [ngClass]="{'mobile': isMobile, 'py-1': isMobile, 'py-2': !isMobile}">

      <div class="form-check form-switch d-flex justify-content-start align-items-start">
        <input  class="form-check-input me-1 cursor-pointer"
                type="checkbox"
                role="switch"
                id="updatingPathScan2"
                [(ngModel)]="sourceItem.active"
                (ngModelChange)="checkLoadSource(sourceItem)">
      </div>
      
      <ng-container *ngIf="sourceItem.active">
        <ng-container *ngIf="sourceItem.loaded && !sourceItem.error">
        <span class="cursor-pointer" (click)="sourceItem.active=false;removeSourceNews(sourceItem)">{{sourceItem.name}} ({{sourceItem.news.length}})</span>
        <small class="text-success ms-2"><i class="fas fa-check"></i></small>
          <i class="fas fa-rotate cursor-pointer ms-2" (click)="loadSourceNews(sourceItem)"></i>
        </ng-container>
        <ng-container *ngIf="!sourceItem.loaded && !sourceItem.error">
          {{sourceItem.name}}
          <div style="display: block;">
            <small class="ms-2">...</small>
            <i class="fas fa-rotate fa-spin ms-2"></i>
          </div>
        </ng-container>
        <ng-container *ngIf="sourceItem.loaded && sourceItem.error">
          {{sourceItem.name}} 
          <i class="fas fa-rotate cursor-pointer ms-2" (click)="loadSourceNews(sourceItem)"></i>
          <small class="text-danger ms-2"><i class="fas fa-exclamation"></i></small>
        </ng-container>
      </ng-container>

      <ng-container *ngIf="!sourceItem.active">
        <span class="cursor-pointer" (click)="sourceItem.active=true;loadSourceNews(sourceItem);">{{sourceItem.name}}</span>
      </ng-container>
  </div>
</ng-template>

<!-- NEWS ITEM Template -->
<ng-template let-newsItem="newsItem" #newsItemTemplate>
  <ng-container *ngIf="displayMode==='GRID'">
    <div class="card news-grid-item" style="width: 12rem;">
      <img *ngIf="newsItem.imageUrl && newsItem.imageUrl.length>0" class="card-img-top" src="{{newsItem.imageUrl}}" alt="">
      <img *ngIf="!(newsItem.imageUrl && newsItem.imageUrl.length>0)" class="card-img-top" src="assets/img/no-image.png" alt="">
      <div class="card-body">
        <ng-container *ngIf="newsItem.url && newsItem.url.length>0">
          <h5 class="card-title"><a href="{{newsItem.url}}" target="_blank" [innerHTML]="newsItem.title | highlight:searchText"></a></h5>
        </ng-container>
        <ng-container *ngIf="!(newsItem.url && newsItem.url.length>0)">
          <h5 class="card-title" [innerHTML]="newsItem.title | highlight:searchText"></h5>
        </ng-container>
        <p class="card-text" [innerHTML]="newsItem.content | highlight:searchText"></p>
        <div class="d-flex flex-column w-100">
          <ng-container *ngIf="newsItem.date">
            <div class="w-100 mb-3">
              <small *ngIf="timeInformed(newsItem.date)">{{newsItem.date | date:'dd.MM.yyyy - HH:mm'}}</small>
              <small *ngIf="!timeInformed(newsItem.date)">{{newsItem.date | date:'dd.MM.yyyy'}}</small>
            </div>
          </ng-container>
          <ng-container *ngIf="!newsItem.date"><div class="mb-3">&nbsp;</div></ng-container>
          <div class="w-100">
            <a class="source" href="https://{{newsItem.source.url}}" target="_blank">{{newsItem.source.name}}</a>
          </div>
        </div>
      </div>
    </div>
  </ng-container>

  <ng-container *ngIf="displayMode==='LIST'">
    
    <div class="w-100 d-flex p-0 news-list-item" [ngClass]="{'my-1': !isMobile, 'mobile': isMobile}" [style]="(isMobile && newsItem.imageUrl && newsItem.imageUrl.length>0)?getNewsBgImageStyle(newsItem):''">
      <ng-container *ngIf="!isMobile">
        <div class="p-2 d-flex flex-column p-2 img-container">
          <img *ngIf="newsItem.imageUrl && newsItem.imageUrl.length>0" src="{{newsItem.imageUrl}}" alt="Card image cap">
          <img *ngIf="!(newsItem.imageUrl && newsItem.imageUrl.length>0)" src="assets/img/no-image.png" alt="No image">
        </div>
      </ng-container>
      
      <div class="d-flex flex-column p-2" [ngClass]="{'mobile-content': isMobile, 'justify-content-end': isMobile}">
        <div *ngIf="newsItem.title && newsItem.title.length>0" class="title px-3" [ngClass]="{'mobile': isMobile}">
          <span *ngIf="!(newsItem.url && newsItem.url.length>0)" [innerHTML]="newsItem.title | highlight:searchText"></span>
          <a *ngIf="newsItem.url && newsItem.url.length>0" href="{{newsItem.url}}" target="_blank" [innerHTML]="newsItem.title | highlight:searchText"></a>
        </div>
        <ng-container *ngIf="!isMobile">
          <div *ngIf="newsItem.content && newsItem.content.length>0" class="content py-2 px-3"><p [innerHTML]="newsItem.content | highlight:searchText"></p></div>
        </ng-container>
        <div class="footer d-flex flex-column px-3 mt-2">
          <ng-container *ngIf="newsItem.date">
            <div class="w-100 mb-1">
              <small *ngIf="timeInformed(newsItem.date)">{{newsItem.date | date:'dd.MM.yyyy - HH:mm'}}</small>
              <small *ngIf="!timeInformed(newsItem.date)">{{newsItem.date | date:'dd.MM.yyyy'}}</small>
            </div>
          </ng-container>
          <a class="source" [ngClass]="{'mobile': isMobile}" href="https://{{newsItem.source.url}}" target="_blank">{{newsItem.source.name}}</a>
        </div>
      </div>
    </div>
  </ng-container>
  
</ng-template>