<div class="w-100 h-100 min-vh-100" style="display: flex;position: absolute;">

  <!-- Desktop layout -->
  <ng-container *ngIf="!isMobile">

    <!-- SOURCES -->
    <div class="w-30 py-3 px-5 d-flex flex-column flex-grow-1 source-container" style="position: sticky; top: 0px;z-index: 1;">
      <h3 class="title">Newstracker</h3>
      <div class="mb-4 d-flex flex-column">
          <div class="mb-1">Display mode:</div>
          <div class="btn-group mr-2" role="group" aria-label="First group">
            <button type="button" class="btn btn-secondary btn-sm" (click)="displayMode='GRID'" [disabled]="displayMode==='GRID'" [ngClass]="{'active': displayMode==='GRID'}">
              <i class="fas fa-grip me-2"></i>Grid
            </button>
            <button type="button" class="btn btn-secondary btn-sm" (click)="displayMode='LIST'" [disabled]="displayMode==='LIST'" [ngClass]="{'active': displayMode==='LIST'}">
              <i class="fas fa-bars me-2"></i> List
            </button>
          </div>
      </div>
      <div class="mb-4 d-flex flex-column">
        <input class="form-control input-no-border" placeholder="Search text" #searchTextInputRef (input)="onSearchTextChange(searchTextInputRef.value)" />
      </div>
      <div class="mb-2 sources-title">Sources:</div>
      <div class="source-check-container">
        <ng-container *ngFor="let sourceItem of sources" [ngTemplateOutlet]="sourceTemplate" [ngTemplateOutletContext]="{sourceItem}"></ng-container>
      </div>
    </div>
    <!-- End SOURCES -->

    <!-- NEWS -->
    <div class="w-70 d-flex flex-column flex-grow-1">
      <ng-container *ngIf="activeSources>0" [ngTemplateOutlet]="sourceTagsTemplate"></ng-container>
      <div class="d-flex justify-content-around flex-column news-container" [ngClass]="{'flex-column': displayMode==='LIST', 'pb-3': displayMode==='LIST', 'p-3': displayMode==='GRID', 'flex-wrap': displayMode==='GRID', 'gap-3': displayMode==='GRID'}">
        <ng-container *ngIf="news && news.length>0">
          <ng-container *ngFor="let newsItem of news">
            <ng-container [ngTemplateOutlet]="newsItemTemplate" [ngTemplateOutletContext]="{newsItem}"></ng-container>
          </ng-container>
        </ng-container>
        <ng-container *ngIf="activeSources===0">
          <div class="text-center py-5 mt-5 w-100">
            <div class="text-center py-5 mt-5 w-100">Please, select a source.</div>
          </div>
        </ng-container>
        <ng-container *ngIf="activeSources>0 && news && news.length===0">
          <div class="text-center py-5 mt-5 w-100">Loading news from {{activeSources}} sources...</div>
        </ng-container>
      </div>
    </div>
    <!-- End NEWS -->

  </ng-container>
  <!-- End Desktop layout -->

  <!-- Mobile layout -->
  <ng-container *ngIf="isMobile">

    <div class="w-100 d-flex justify-content-start flex-column flex-grow-1 news-container mobile" 
      [ngClass]="{
        'noscroll': showSources,
        'flex-column': displayMode==='LIST', 
        'px-3': displayMode==='LIST' && !isMobile,
        'ps-3': displayMode==='GRID', 
        'flex-wrap': displayMode==='GRID', 
        'gap-3': displayMode==='GRID'}">
      
      <div class="w-100 d-flex justify-content-between align-items-start pt-3 pb-2 mobile-config px-3">
        <div class="d-flex flex-column">
          <h3 class="title mobile">Newstracker</h3>
        </div>
        <button class="btn btn-sm" (click)="showSources=!showSources">
          <i class="fas fa-sliders mobile"></i>
        </button>
      </div>

      <ng-container *ngIf="activeSources>0" [ngTemplateOutlet]="sourceTagsTemplate"></ng-container>

      <ng-container *ngIf="showSources">
        <div class="w-100 d-flex flex-column mobile-sources pt-3">
          <div class="mb-3 sources-title mobile px-3 d-flex justify-content-between align-items-center">
            <span>Sources</span>
            <i class="fas fa-close close-sources cursor-pointer" (click)="showSources=false;"></i>
          </div>
          <div class="source-check-container mobile px-2">
            <ng-container *ngFor="let sourceItem of sources" [ngTemplateOutlet]="sourceTemplate" [ngTemplateOutletContext]="{sourceItem}"></ng-container>
          </div>
        </div>
      </ng-container>
      
      <ng-container *ngIf="news && news.length>0">
        <ng-container *ngFor="let newsItem of news">
          <ng-container [ngTemplateOutlet]="newsItemTemplate" [ngTemplateOutletContext]="{newsItem}"></ng-container>
        </ng-container>
      </ng-container>
      <ng-container *ngIf="activeSources===0 && !showSources">
        <div class="text-center py-5 mt-5 w-100">Please, select a source. 
          <br /><button class="btn btn-sm btn-secondary mt-3" (click)="showSources=true;">Source selection</button>
        </div>
      </ng-container>
      <ng-container *ngIf="activeSources>0 && news && news.length===0">
        <div class="text-center py-5 mt-5 w-100">Loading news from {{activeSources}} sources...</div>
      </ng-container>
    </div>

  </ng-container>
  <!-- End Mobile layout -->

</div>

<!-- Source tags Template -->
<ng-template #sourceTagsTemplate>
  <div class="w-100 d-flex flex-column mobile-sources" [ngClass]="{'p-3': activeSources>1}">
    <div class="d-flex flex-wrap" [ngClass]="{'gap-2': activeSources>1, 'my-1': activeSources>1}">
      <ng-container *ngFor="let source of sources; let i = index">
        <ng-container *ngIf="source.active">
          <span class="badge d-flex justify-content-between align-items-center" 
            [ngClass]="{
              'loading': !source.loaded, 
              'loaded': source.loaded, 
              'w-100': activeSources===1,
              'br-0': activeSources===1,
              'alone': activeSources===1,
              'px-4': activeSources===1
            }" 
            style="background:{{(source.loaded)?source.bgStyle : 'transparent'}}">
              <span>
                {{source.name}}
                <span class="num-news ms-2" *ngIf="source.loaded"><sup>{{source.news.length}}</sup></span>
                <i *ngIf="!source.loaded" class="fas fa-spinner fa-spin ms-2"></i>
              </span>
              <i *ngIf="source.loaded" class="fas fa-close cursor-pointer close-sources ms-2" (click)="source.active=false;removeSourceNews(source)"></i>
          </span>
        </ng-container>
      </ng-container>
    </div>
  </div>
</ng-template>
<!-- End Source tags Template -->

<!-- SOURCE Template -->
<ng-template let-sourceItem="sourceItem" #sourceTemplate>
  <div class="w-100 d-flex ps-2 source-check align-items-center" [ngClass]="{'mobile': isMobile, 'py-1': isMobile, 'py-2': !isMobile}">

      <div class="form-check form-switch d-flex justify-content-start align-items-start">
        <input  class="form-check-input me-1 cursor-pointer"
                type="checkbox"
                role="switch"
                id="updatingPathScan2"
                [(ngModel)]="sourceItem.active"
                (ngModelChange)="checkLoadSource(sourceItem)">
      </div>
      
      <ng-container *ngIf="sourceItem.active">
        <ng-container *ngIf="sourceItem.loaded && !sourceItem.error">
        <span class="cursor-pointer" (click)="sourceItem.active=false;removeSourceNews(sourceItem)">{{sourceItem.name}} ({{sourceItem.news.length}})</span>
          <small class="text-success ms-2">
            <i class="fas fa-check"></i>
          </small>
          <i class="fas fa-rotate cursor-pointer ms-2" (click)="loadSourceNews(sourceItem)"></i>
        </ng-container>
        <ng-container *ngIf="!sourceItem.loaded && !sourceItem.error">
          {{sourceItem.name}}
          <div style="display: block;">
            <small class="ms-2">...</small>
            <i class="fas fa-rotate fa-spin ms-2"></i>
          </div>
        </ng-container>
        <ng-container *ngIf="sourceItem.loaded && sourceItem.error">
          {{sourceItem.name}} 
          <i class="fas fa-rotate cursor-pointer ms-2" (click)="loadSourceNews(sourceItem)"></i>
          <small class="text-danger ms-2"><i class="fas fa-exclamation"></i></small>
        </ng-container>
      </ng-container>

      <ng-container *ngIf="!sourceItem.active">
        <span class="cursor-pointer" (click)="sourceItem.active=true;loadSourceNews(sourceItem);showSources=false;">{{sourceItem.name}}</span>
      </ng-container>
  </div>
</ng-template>
<!-- End SOURCE Template -->

<!-- NEWS ITEM Template -->
<ng-template let-newsItem="newsItem" #newsItemTemplate>
  <ng-container *ngIf="displayMode==='GRID'">
    <div class="card news-grid-item">
      <img *ngIf="newsItem.imageUrl && newsItem.imageUrl.length>0" class="card-img-top" src="{{newsItem.imageUrl}}" alt="">
      <img *ngIf="!(newsItem.imageUrl && newsItem.imageUrl.length>0)" class="card-img-top" src="{{getDefaultImage()}}" alt="">
      <div class="card-body">
        <ng-container *ngIf="newsItem.url && newsItem.url.length>0">
          <h5 class="card-title"><a href="{{newsItem.url}}" target="_blank" [innerHTML]="newsItem.title | highlight:searchText"></a></h5>
        </ng-container>
        <ng-container *ngIf="!(newsItem.url && newsItem.url.length>0)">
          <h5 class="card-title" [innerHTML]="newsItem.title | highlight:searchText"></h5>
        </ng-container>
        <p class="card-text" [innerHTML]="newsItem.content | highlight:searchText"></p>
        <div class="d-flex flex-column w-100">
          <ng-container *ngIf="newsItem.date">
            <div class="w-100 mb-3">
              <small *ngIf="timeInformed(newsItem.date)">{{newsItem.date | date:'dd.MM.yyyy - HH:mm'}}</small>
              <small *ngIf="!timeInformed(newsItem.date)">{{newsItem.date | date:'dd.MM.yyyy'}}</small>
            </div>
          </ng-container>
          <ng-container *ngIf="!newsItem.date"><div class="mb-3">&nbsp;</div></ng-container>
          <div class="w-100">
            <a class="source" href="https://{{newsItem.source.url}}" target="_blank">{{newsItem.source.name}}</a>
          </div>
        </div>
      </div>
    </div>
  </ng-container>

  <ng-container *ngIf="displayMode==='LIST'">
    
    <div class="w-100 d-flex p-0 news-list-item" 
      [ngClass]="{'my-1': !isMobile, 'mobile': isMobile}"
      [style]="(isMobile && newsItem.imageUrl && newsItem.imageUrl.length>0)?getNewsBgImageStyle(newsItem):''"
      >
      <ng-container *ngIf="!isMobile">
        <div class="p-2 d-flex flex-column p-2 img-container">
          <img *ngIf="newsItem.imageUrl && newsItem.imageUrl.length>0" src="{{newsItem.imageUrl}}" alt="Card image cap">
          <img *ngIf="!(newsItem.imageUrl && newsItem.imageUrl.length>0)" src="{{getDefaultImage()}}" alt="No image">
        </div>
      </ng-container>
      
      <div class="d-flex flex-column p-2" [ngClass]="{'mobile-content': isMobile, 'justify-content-end': isMobile}">
        <div *ngIf="newsItem.title && newsItem.title.length>0" class="title px-3" [ngClass]="{'mobile': isMobile}">
          <span *ngIf="!(newsItem.url && newsItem.url.length>0)" [ngClass]="{'ellipsis-2': newsItem.content.length>0, 'ellipsis-3': newsItem.content.length===0}" [innerHTML]="newsItem.title | highlight:searchText"></span>
          <a *ngIf="newsItem.url && newsItem.url.length>0" 
            title="{{newsItem.title}}"
            target="_blank"
            href="{{newsItem.url}}" 
            [ngClass]="{'ellipsis2': newsItem.content && newsItem.content.length>0, 'ellipsis3': newsItem.content && newsItem.content.length===0}"
            [innerHTML]="newsItem.title | highlight:searchText">
          </a>
        </div>
        <ng-container *ngIf="!isMobile">
          <div *ngIf="newsItem.content && newsItem.content.length>0" class="content py-2 px-3"><p [innerHTML]="newsItem.content | highlight:searchText"></p></div>
        </ng-container>
        <ng-container *ngIf="isMobile">
          <div *ngIf="newsItem.content && newsItem.content.length>0" class="content mobile py-2 px-3"><p [innerHTML]="newsItem.content" class="ellipsis-3"></p></div>
        </ng-container>
        <div class="footer d-flex flex-column px-3 mt-2">
          <ng-container *ngIf="newsItem.date">
            <div class="w-100 mb-1">
              <small *ngIf="timeInformed(newsItem.date)">{{newsItem.date | date:'dd.MM.yyyy - HH:mm'}}</small>
              <small *ngIf="!timeInformed(newsItem.date)">{{newsItem.date | date:'dd.MM.yyyy'}}</small>
            </div>
          </ng-container>
          <a class="source" [ngClass]="{'mobile': isMobile}" href="https://{{newsItem.source.url}}" target="_blank">{{newsItem.source.name}}</a>
        </div>
      </div>
    </div>
  </ng-container>
  
</ng-template>
<!-- End NEWS ITEM Template -->